.footer-container {
  width: 100%;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  background: $gradient-green;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;

  &.play {
    background: $gradient-red;
  }

  img {
    width: 30px;
  }

  a {
    text-decoration: none;
    color: $color-dark-text;
  }

  .school-container {
    width: 50px;

    img {
      width: 50px;
    }
  }
}
