$color-primary: #ffffff;
$color-primary-light: #a7a7a7;
$color-dark-text: #292929;

$gradient-green: linear-gradient(40deg, #00bf82, #0099ae);
$gradient-red: linear-gradient(40deg, #ffd86f, #fc6262);

$content-width: 1430px;
$tablet-width: 1080px;
$mobile-big-width: 730px;
$mobile-small-width: 550px;
